<form>
  <input type="text" placeholder="your nickname" value="{{nickname}}"></textarea>
  <br/>
  {{#each avatars}}
  	<img class="avatar" src="assets/images/avatars/{{this.file}}.png" alt="{{this.name}}" title="{{this.name}}" data="{{this.file}}"></img>
  {{/each}}
  <button class="submit icon-ok"></button>

</form>
